<div class="profile">
  
  <div class="row">
    <div class="col-4">
      <%= attachment_image_tag @user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_imagesan.png" %>
    </div>
  </div>
  
  <div class="col-8">
    <div class="container">
      <div class="row">
        <h3><%= @user.nickname %></h3>
      </div>
      <div class="row">
        <p><%= @user.introduction %></p>
      </div>
    </div>
  </div>
  
</div>

<%= render 'posts/posts', posts: @posts %>