<div class="container profile-box">
  
  <div class="col-4">
    <%= attachment_image_tag @user, :profile_image, size: "180x180", format: 'jpeg', fallback: "no_imagesan.png", class: "user-image" %>
  </div>
  
  <div class="col-8 profile-intros">
    <div class="container">
      <div class="row">
        <p class="user-show-name"><%= @user.nickname %></p>
      </div>
      <div class="row">
        <p><%= @user.introduction %></p>
      </div>
    </div>
  </div>
</div>

<%= render 'posts/posts', posts: @posts %>