<div class="top-hello">
  <h1>Tagren</h1><h3>にようこそ！</h3>
</div><br>
<p><strong class="top-intro-name">Tagren</strong>は、沢山の思想に溢れた昨今のSNSに疲れた人に向けた、</p>
<p>自分の見たい<strong>話題(タグ)</strong>の投稿だけを見るSNSです。</p>
<p><strong class="top-intro-name">Tagren</strong>でフォローするのはユーザーではなく、<strong>「タグ」</strong></p>
<p>タイムラインにはあなたがフォローした<strong>「タグ」</strong>のついた投稿のみが流れてきます。</p>
<p>余計な思想の流れない、<strong>好きな話題だけが流れるタイムライン</strong>を作りましょう。</p>