<h1>「<%= @tag.name %>」の投稿一覧</h1>
<% if current_user.followed?(@tag) %>
  <div class="dropdown">
    <button class="btn dropdown-toggle following-drop btn-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      フォロー中
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">
        <%= link_to "フォロー解除", follow_tag_path(@tag), method: :delete %>　<!--ハッシュタグのフォロー解除-->
      </a>
    </div>
  </div>
<%else%>
  <div class="following-tag-follow-btn">
    <%= link_to "フォローする", follow_tags_path(@tag), method: :post , class: "follow-btn btn btn-white"%>　<!--ハッシュタグのフォロー-->
  </div>
<% end %>

<%= render 'posts/posts', posts: @posts %>