/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
 .body-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 95px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
 
 a {
  color: black;
 }
 
 a:hover {
  color: black;
  text-decoration: none;
 }

.header {
  display: flex;
  background-color: #90d3b0;
  width: 100%;
  grid-area: header;
}

main {
  background-color: #daf1e5;
  background-size: cover;
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  grid-area: main;
}

.navbar {
  position: relative;
}

.logo {
  display: flex;
}

.logo-name {
  vertical-align: sub;
}

.navbar-items {
  display: flex;
}

.search-form {
  margin: 15px;
  // margin-right: 90px;
  padding-top: 15px;
}

.post-btn {
  margin: 15px;
}

.home-btn {
  margin-top: 22px;
}

.tags-btn {
  margin: 27px 0px 0px 23px;
}

.dropdown {
  margin: 15px;
}

.user-icon {
  padding-left: 60px;
}

.user-name {
  font-weight: 600;
}

.tagren {
  margin: 26px auto 0;
}

.post-box {
  padding-top: 5px;  
}

.post-item {
  background-color: #ffffff;
  margin-top: 20px;
  border: solid 1px #C0C0C0;
  border-radius: 3px;
}
.post-user {
  padding: 10px;
  font-weight: 600;
}

.post-created_at {
  padding: 15px;
  text-align: center;
}

.post-tags {
  background-color: #e5ede9;
  text-align: center;
  padding: 15px;
  border-radius: 2px;
}

.reactions {
  display: flex;
  text-align: center;
  padding: 10px;
}

.heart {
  color: #FF3333;
}

.post-destroy-btn {
  text-align: right;
}

.profile-box {
  display: flex;
  padding-top: 20px;
}

.user-image {
  border-radius: 50%;
}

.user-show-name {
  font-size: 200%;
}

.user-show-intros {
  padding-left: 80px;
}

.post-count {
  padding-left: 13px;
}

.post-comment-zone {
  padding-top: 5px;
}

.post-comment-form {
  margin: 15px auto;
}

.post-comments {
  margin-left: 5px;
}

.post-comment {
  border-bottom: solid 1px #C0C0C0;
  padding-top: 10px;
}

.post-form-body {
  height: 100px;
}

.top-hello {
  display: flex;
  align-items: flex-end;
}

.top-introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

strong {
  font-weight: 800;
  font-size: large;
}

.top-intro-name {
  font-weight: 700;
  font-size: xx-large;
}

.following-tag {
  border-bottom: solid 1px #C0C0C0;
}

.following-tag:first-child {
  border-top: solid 1px #C0C0C0;
}

.following-tag-name {
  padding: 20px;
}

.following-drop {
  border: solid 1px #C0C0C0;
}

.following-tag-follow-btn {
  margin: 15px;
}

.follow-btn {
  border: solid 1px #C0C0C0;
  border-radius: 0.25rem;
}

.btn-white {
  background-color: #ffffff;
}

footer {
  grid-area: footer;
}