/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

.profile {
  display: flex;
  margin-bottom: 20px;
}

.header {
  display: flex;
  background-color: #eeeeee;
}

.navbar {
  position: relative;
}

.logo-name {
  position: absolute;
	bottom: 0;
}

.navbar-items {
  display: flex;
}

.search-form {
  margin: 15px;
}

.post-btn {
  margin: 15px;
}

.dropdown {
  margin: 15px;
}

.user-icon {
  padding-left: 60px;
}

.user-name {
  position: absolute;
  bottom: 0;
  padding: 7px;
	font-size: 20px;
}

.post-item {
  margin-top: 20px;
  border: solid 1px #C0C0C0;
}

.post-hashtags {
  background-color: #EEEEEE;
  text-align: center;
}

.reactions {
  display: flex;
}